  // Override default variables before the import
  $danger: #D74B44;
  $warning: #ED8D75;
  $success: #96CDCD;

  .btn {
    font-weight: bold !important;
  }

  .btn-danger,
  .btn-warning {
    color: white !important;

  }